.header{
    font-family: "Comic Sans MS", Helvetica;
    font-size: 84px;
    color: yellow;
    /*border: 3px solid black;*/
    text-align: center;
    margin: 0 0 10px 0;
    text-shadow:
            -0   -4px 0   #000000,
            0   -4px 0   #000000,
            -0    4px 0   #000000,
            0    4px 0   #000000,
            -4px -0   0   #000000,
            4px -0   0   #000000,
            -4px  0   0   #000000,
            4px  0   0   #000000,
            -1px -4px 0   #000000,
            1px -4px 0   #000000,
            -1px  4px 0   #000000,
            1px  4px 0   #000000,
            -4px -1px 0   #000000,
            4px -1px 0   #000000,
            -4px  1px 0   #000000,
            4px  1px 0   #000000,
            -2px -4px 0   #000000,
            2px -4px 0   #000000,
            -2px  4px 0   #000000,
            2px  4px 0   #000000,
            -4px -2px 0   #000000,
            4px -2px 0   #000000,
            -4px  2px 0   #000000,
            4px  2px 0   #000000,
            -3px -4px 0   #000000,
            3px -4px 0   #000000,
            -3px  4px 0   #000000,
            3px  4px 0   #000000,
            -4px -3px 0   #000000,
            4px -3px 0   #000000,
            -4px  3px 0   #000000,
            4px  3px 0   #000000,
            -4px -4px 0   #000000,
            4px -4px 0   #000000,
            -4px  4px 0   #000000,
            4px  4px 0   #000000,
            -4px -4px 0   #000000,
            4px -4px 0   #000000,
            -4px  4px 0   #000000,
            4px  4px 0   #000000;
}