<<<<<<< HEAD
body, input, button, textarea, h1, h2, h3, h4, h5, h6 {
    font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
    font-size: 14px;
}

body{
    background-color: #8f5fa5;
}

=======
body, input, button, textarea, h1, h2, h3, h4, h5, h6 {
    font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
    font-size: 14px;
}

body{
    background-color: #fb83fa;
}

>>>>>>> 99c658a440bfce65835d1b83380a8a2dd824c70e
